#servicios{
    height: 500px;
    width: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#servicios img{
    display: none;
}

.servicios-textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 10px 0px;
}

.servicios-textos h5, h4{
    padding: 20px 0px 10px 0px;
    font-weight: 700;
}

.servicios-textos p{
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.servicios-textos i{
    margin-right: 15px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #servicios{
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 500px;
    }
    
    #servicios img{
        display: flex;
        height: 500px;
        width: auto;
    }

    .contenedor{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .servicios-textos{
        text-align: left;
    }
    }