#sobre-mi {
  height: 700px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../resources/images/mujer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#sobre-mi_content {
  color: rgb(0, 0, 0);
  padding: 80px 0px 80px 0px;
}